Perform the following operations using R/Python on suitable data sets:

a) Read data from different formats (like csv, xls)

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv("Heart (1).csv")
df=pd.DataFrame(data)

b) Find Shape of Data

In [2]:
shape = df.shape
print("Shape = {}".format(shape))

Shape = (303, 15)

c) Find Missing Values

In [3]:
missingValues = data.isnull().sum()
print(missingValues)

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

d) Find data type of each column

In [4]:
datatypes=df.dtypes
print(datatypes)

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

e) Finding out Zero's

In [5]:
print((df==0).sum())

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [6]:
print((df==0).sum().sum())

985

f) Indexing and selecting data, sort data

In [7]:
print(df.iloc[0])

Unnamed: 0          1
Age                63
Sex                 1
ChestPain     typical
RestBP            145
Chol              233
Fbs                 1
RestECG             2
MaxHR             150
ExAng               0
Oldpeak           2.3
Slope               3
Ca                0.0
Thal            fixed
AHD                No
Name: 0, dtype: object

In [8]:
print(df.iloc[2:10])

   Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
2           3   67    1  asymptomatic     120   229    0        2    129
3           4   37    1    nonanginal     130   250    0        0    187
4           5   41    0    nontypical     130   204    0        2    172
5           6   56    1    nontypical     120   236    0        0    178
6           7   62    0  asymptomatic     140   268    0        2    160
7           8   57    0  asymptomatic     120   354    0        0    163
8           9   63    1  asymptomatic     130   254    0        2    147
9          10   53    1  asymptomatic     140   203    1        2    155

   ExAng  Oldpeak  Slope   Ca        Thal  AHD
2      1      2.6      2  2.0  reversable  Yes
3      0      3.5      3  0.0      normal   No
4      0      1.4      1  0.0      normal   No
5      0      0.8      1  0.0      normal   No
6      0      3.6      3  2.0      normal  Yes
7      1      0.6      1  0.0      normal   No
8      0      1.4      2  1.0  reversable  Yes
9      1      3.1      3  0.0  reversable  Yes

In [9]:
print(df.iloc[-1])

Unnamed: 0           303
Age                   38
Sex                    1
ChestPain     nonanginal
RestBP               138
Chol                 175
Fbs                    0
RestECG                0
MaxHR                173
ExAng                  0
Oldpeak              0.0
Slope                  1
Ca                   NaN
Thal              normal
AHD                   No
Name: 302, dtype: object

In [10]:
print(df["ChestPain"])

0           typical
1      asymptomatic
2      asymptomatic
3        nonanginal
4        nontypical
           ...
298         typical
299    asymptomatic
300    asymptomatic
301      nontypical
302      nonanginal
Name: ChestPain, Length: 303, dtype: object

In [11]:
sortedData = df.sort_values(by='Chol', ascending=True)
sortedData.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
202,203,57,1,nonanginal,150,126,1,0,173,0,0.2,1,1.0,reversable,No
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
93,94,44,0,nonanginal,108,141,0,0,175,0,0.6,2,0.0,normal,No
273,274,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
232,233,49,1,nonanginal,118,149,0,2,126,0,0.8,1,3.0,normal,Yes

g) Describe attributes of data, checking data types of each column

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [13]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

h) Counting unique values of data, format of each column, converting variable data type (e.g. from long to short, vice versa)

In [14]:
df.nunique()

Unnamed: 0    303
Age            41
Sex             2
ChestPain       4
RestBP         50
Chol          152
Fbs             2
RestECG         3
MaxHR          91
ExAng           2
Oldpeak        40
Slope           3
Ca              4
Thal            3
AHD             2
dtype: int64

In [15]:
df['RestBP'] = df['RestBP'].astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int32
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int32(1), int64(9), object(3)
memory usage: 34.5+ KB